/datasets/DiDeMo/didemo_narration.json
/datasets/MSRVTT/MSRVTT_narration.json
/datasets/MSVD/MSVD_narration.json
/datasets/Vatex/vatex_narration.json

/datasets/MSRVTT/videos
/datasets/MSVD/videos
/datasets/Vatex/videos
/datasets/DiDeMo/videos

/datasets/MSRVTT/videos_compressed
/datasets/MSVD/videos_compressed
/datasets/Vatex/videos_compressed
/datasets/DiDeMo/videos_compressed

/datasets/MSRVTT/frames
/datasets/MSVD/frames
/datasets/Vatex/frames
/datasets/DiDeMo/frames

/datasets/MSRVTT/frames_max32
/datasets/MSVD/frames_max32
/datasets/Vatex/frames_max32
/datasets/DiDeMo/frames_max32

/datasets/MSRVTT/msrvtt_data
/datasets/MSVD/msvd_data
/datasets/DiDeMo/didemo_data
/datasets/Vatex/vatex_data
/datasets/Vatex/vatex_data_raw

/datasets/MSRVTT/frames.zip
/datasets/MSVD/frames.zip
/datasets/Vatex/frames.zip
/datasets/DiDeMo/frames.zip

/datasets/MSRVTT/frames_max32.zip
/datasets/MSVD/frames_max32.zip
/datasets/Vatex/frames_max32.zip
/datasets/DiDeMo/frames_max32.zip

/datasets/MSRVTT/msrvtt_data.zip
/datasets/MSVD/msvd_data.zip
/datasets/DiDeMo/didemo_data.zip
/datasets/Vatex/vatex_data.zip
/datasets/Vatex/vatex_data_raw.zip